<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="widget-list.view.client.html">
                <span class="glyphicon glyphicon-chevron-left navbar-glyphicon"></span>
            </a>
        </div>
        <div class="navbar-header pull-left">
            <a class="navbar-brand " href="#">Widget Edit</a>
        </div>
        <div class="navbar-text pull-right">
            <a  href="widget-list.view.client.html">
                <span class="glyphicon glyphicon-ok navbar-glyphicon "></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <label for="name">Name</label>
    <input id = "name"type="text"
           class="form-control"
           placeholder="name"/>

    <label for="name">Text</label>
    <input id = "Text"type="text"
           class="form-control"
           placeholder="content"/>

    <label for="name">Size</label>
    <input id = "Size"type="number"
           class="form-control"
           placeholder="size"/>

    <a class="btn btn-danger  btn-block"
       href="widget-list.view.client.html">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="../../user/templates/profile.view.client.html">
                <span class="glyphicon glyphicon-user navbar-glyphicon"></span></a>
        </div>
    </div>
</nav>