<div>

    <label for="name">Name</label>
    <input ng-model ="model.presentWidget.name"
           id = "name"
           type="text"
           class="form-control"
           placeholder="name"/>

    <label for="name">Text</label>
    <input ng-model = "model.presentWidget.text"
           id = "Text"
           type="text"
           class="form-control"
           placeholder="content"/>

    <label for="name">Size</label>
    <input ng-model ="model.presentWidget.size"
           id = "size"
           type="number"
           class="form-control"
           placeholder="size"/>

    <a class="btn btn-danger  btn-block"
       ng-click="model.deleteWidget()">Delete</a>



</div>
