<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 hidden-xs ">
                <div class="navbar-text pull-left">
                    <a href="#/user/{{model.userId}}/website/">
                        <span class="glyphicon glyphicon-chevron-left navbar-glyphicon"></span>
                    </a>
                </div>
                <div class="navbar-text pull-right">
                    <a href="#/user/{{model.userId}}/website/new">
                        <span class="glyphicon glyphicon-plus navbar-glyphicon"></span>
                    </a>
                </div>
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Websites</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 pull-right">
                <div class="navbar-text pull-left hidden-md hidden-sm hidden-lg">
                    <a href="#/user/{{model.userId}}/website/">
                        <span class="glyphicon glyphicon-chevron-left navbar-glyphicon"></span></a>
                </div>
                <div class="navbar-text pull-right">
                    <a>
                        <span ng-click ="model.addWebSite(website)"
                              class="glyphicon glyphicon-ok navbar-glyphicon"></span>
                    </a>
                </div>
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">New Website</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class = "row">
        <div class="col-sm-4 hidden-xs scroll">
            <ul class="list-group">
                <li ng-repeat="website in model.websites" class="list-group-item">
                    <a href ="#/user/{{model.userId}}/website/{{website._id}}/page" >
                        {{website.name}}
                    </a>
                    <a href="#/user/{{model.userId}}/website/{{website._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>

            </ul>
        </div>
        <div class="col-xs-12 col-sm-8 pull-right">
            <label for="name">Website Name</label>
            <input ng-model="website.name"
                   class="form-control"
                   id="name"
                   placeholder="Name">

            <label for="description">Description</label>
            <textarea ng-model = "website.description"
                      class="form-control"
                      id="description"
                      placeholder="Description"></textarea>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container-fluid">

        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user navbar-glyphicon "></span>
            </a>
        </div>

    </div>
</nav>
